html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Kiwi Maru', serif;
    background-color: white;
    overflow-x: hidden;
}

h1 {
    margin: 0px;
}

a {
    text-decoration: none;
    margin: 0px !important;
    padding: 0px !important;
}

.banner {
    padding: 0 20px;
    background-color: #fafafa;
}

.nav-logo {
    width: 100px;
    padding: 10px 10px 5px;
}

.call {
    float: right;
}

.phone {
    width: 50px;
    color: #50A8D9;
    margin: 35px 0 0px;
}

.number {
    float: right;
    margin: 47px 0 30px;
    padding-left: 10px;
    font-size: larger;
    color: #6b6b6b;
    font-weight: 500;
    font-family: soleil, sans-serif;
}

.call:hover .number {
    color: #50A8D9;
    text-decoration: none;
}

nav {
    width: 100%;
    z-index: 100;
}

.nav-item {
    padding: 6px 10px;
}

.nav-link:hover {
    font-weight: 500 !important;
}

.nav-link.active {
    font-weight: 500 !important;
}

.navbar {
    border-top: solid 1px #b3cddb;
    border-bottom: solid 1px #b3cddb;
}

.navbar.scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255) !important;
}

.hidden-nav {
    display: none;
}

.hidden-nav.scrolled {
    display: contents;
}

.hero {
    background-image: url(images/temp-hero-img.jpeg);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.88) 60%, rgba(255, 255, 255, 0.288)), url(images/temp-hero-img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 110px;
    z-index: 1;
}

.hero-info {
    padding: 120px 0 0;
}

.hero h1 {
    font-family: 'Kiwi Maru', serif;
    font-weight: 500;
    color: #50A8D9;
    margin-bottom: 60px;
    font-size: 45px;
}

.hero h3 {
    font-family: 'Kiwi Maru', serif;
    color: rgba(78, 78, 78, 0.904);
    font-size: 20px;
    padding: 0 120px 70px 0;
    font-weight: 300;
    line-height: 150%;
}

.hero-btn {
    border-radius: 20px;
    padding: 15px;
    font-size: 22px;
    margin-left: 210px;
    border: 2px solid;
}

.hero-btn:hover {
    background-color: #50A8D9;
    border-color: #50A8D9;
}

.slider-section {
    background: linear-gradient(#7ac2e9, #c8eafc);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0 75px;
    z-index: 0;
    text-align: center;
}

.slider-section h1 {
    color: white;
    margin-bottom: 50px;
    font-weight: 400;
}

.slider-div {
    width: 50%;
    z-index: -1;
}

.carousel-inner {
    border-radius: 20px;
    box-shadow: 0 3px 10px 0px rgba(155, 155, 155, 0.719);
}

/* .carousel-inner .item {
    height: 100%;
}

.carousel-inner .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.carousel-img {
    object-fit: cover;
}

.carousel-info {
    background-color: #ffffffe7;
    height: 150px;
}

.carousel-caption {
    color: black;
}

.footer {
    text-align: center;
    background-color: #ffffff;
}

.copyright-text {
    padding: 40px 0;
    font-family: Lato, sans-serif;
    color: rgb(97, 97, 97);
}

/* ------------------------ Services Page ------------------------ */

.services-banner {
    background-color: #50A8D9;
    margin-bottom: 0;
}

.services-banner h1 {
    padding: 30px 0;
    color: white;
    font-family: Lato, sans-serif;
    font-weight: 700;
}

.services-section {
    background-color: #fff9ec;
    padding: 30px 0;
}

.service-card {
    height: 550px;
    color: white;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(77, 202, 129);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.404);
    transition: 0.3s;
    margin: 10px;
    position: relative;
    width: 100%;
}

.occupational-card {
    background-color: #50A8D9;
}

.speech-card {
    background-color: rgb(218, 104, 138);
}

.service-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.562);
}

.service-card.occupational-card:hover .card-btn {
    color: #50A8D9;
}

.service-card.speech-card:hover .card-btn {
    color: rgb(218, 104, 138);
}

.service-card h3 {
    font-size: 25px;
    padding: 10px 0 5px;
}

.service-card p {
    font-size: 14px;
}

.service-card hr {
    margin: 15px 20% 15px;
    border-top: 1px solid white;
}

.service-card-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.service-card-text {
    padding: 15px;
}

.card-btn-div {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.card-btn {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-weight: 700;
    transition: 0.3s;
}

.service-card:hover .card-btn {
    color: rgb(77, 202, 129);
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-weight: 700;
    transition: 0.3s;
    /* position: absolute;
    bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center; */
}

.mascot-img-div {
    text-align: center;
    padding: 70px 0 20px;
}

.mascot-img {
    width: 70%;
}

/* ------------------------ Physical Therapy Page ------------------------ */

.pt-banner {
    background-color: rgb(77, 202, 129);
}

.learn-more-section {
    background-color: rgb(221, 248, 232);
    padding: 70px 0 60px;
}

.learn-more-section h5 {
    padding-bottom: 25px;
    line-height: 130%;
    font-size: 26px;
    /* font-family: Lato, sans-serif; */
}

.learn-more-section ul {
    margin: 0;
}

.learn-more-section li {
    line-height: 140%;
    font-size: 18px;
    font-family: Lato, sans-serif;
}

.grid-photo {
    width: 65%;
    margin-left: 17%;
    margin-top: 8%;
}

.grid-photo-2 {
    width: 65%;
    margin-top: 8%;
}

.large-screen {
    text-align: center;
}

.small-screen {
    text-align: center;
}

.white {
    background-color: #f8f8f8;
}

.learn-more-section h6 {
    padding: 20px 0;
    line-height: 130%;
    font-size: 20px;
    /* font-family: Lato, sans-serif; */
}

.curve {
    background-image: url(images/curve.png);
    background-size: cover;
    height: 100px;
}

.call-to-action {
    text-align: center;
}

.call-to-action-text {
    margin: 70px 0 40px;
    line-height: 140%;
}

.bottom-btn {
    margin: 10px 0 40px;
    color: black;
}

.bottom-btn:hover {
    background-color: rgb(77, 202, 129);
    border-color: rgb(77, 202, 129);
}

/* ------------------------ Occupational Therapy Page ------------------------ */

.learn-more-section.occupational-therapy {
    background-color: rgba(221, 235, 248, 1) !important;
}

.curve.blue {
    background-image: url(images/blue-curve.png);
}

.bottom-btn.ot:hover {
    background-color: #50A8D9;
    border-color: #50A8D9;
}

/* ------------------------ Speech Therapy Page ------------------------ */

.st-banner {
    background-color: #DA688A;
}

.learn-more-section.speech-therapy {
    background-color: rgba(248, 221, 221, 1) !important;
}

.curve.red {
    background-image: url(images/red-curve.png);
}

.bottom-btn.st:hover {
    background-color: #DA688A;
    border-color: #DA688A;
}

/* ------------------------ Media Breakpoints ------------------------ */

@media only screen and (min-width: 0px) and (max-width: 575.5px) {
    
    .hero {
        padding-bottom: 40px;
    }
    .hero-info {
        padding: 40px 0 0 20px;
    }
    .hero h1 {
        margin-bottom: 30px;
        font-size: 26px;
    }
    .hero h3 {
        font-size: 14px;
        padding: 0 20px 20px 0;
    }
    .hero-btn {
        font-size: 16px;
        margin-left: 30px;
        padding: 10px;
    }

    .slider-div {
        width: 80%;
    }

    .carousel-info {
        height: 120px;
    }

    .carousel-caption h5 {
        font-size: .9rem;
    }

    .carousel-caption p {
        font-size: .7rem;
    }

    .service-card {
        height: auto;
        padding-bottom: 50px;
    }
    
    .card-wrapper {
        margin: 0 25px 0 5px;
    }

    .learn-more-section h5 {
        text-align: center;
        font-size: 22px;
        margin: 0 15px 15px;
    }

    .learn-more-section h6, h2 {
        text-align: center;
    }

    .even-list-lg {
        display: none;
    }

    .grid-photo {
        margin-left: 15%;
        width: 55%;
    }

    .large-screen {
        display: none;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767.5px) {
    
    .hero {
        padding-bottom: 40px;
    }
    .hero-info {
        padding: 40px 0 0;
    }
    .hero h1 {
        margin-bottom: 30px;
        font-size: 26px;
    }
    .hero h3 {
        font-size: 14px;
        padding: 0 60px 20px 0;
    }
    .hero-btn {
        font-size: 16px;
        margin-left: 60px;
        padding: 10px;
    }

    .slider-div {
        width: 80%;
    }

    .carousel-info {
        height: 120px;
    }

    .carousel-caption h5 {
        font-size: 1rem;
    }

    .carousel-caption p {
        font-size: .8rem;
    }
    
    .service-card {
        height: auto;
        padding-bottom: 50px;
    }

    .card-wrapper {
        margin: 0 25px 0 5px;
    }

    .service-card-text br {
        display: none;
    }

    .even-list-sm {
        display: none;
    }

    .grid-photo {
        margin-left: 14%;
        width: 60%;
    }

    .large-screen {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.5px) {
   
    .hero {
        padding-bottom: 50px;
    }
    .hero-info {
        padding: 50px 0 0;
    }
    .hero h1 {
        margin-bottom: 50px;
        font-size: 30px;
    }
    .hero h3 {
        font-size: 16px;
        padding: 0 60px 30px 0;
    }
    .hero-btn {
        font-size: 18px;
        margin-left: 120px;
        padding: 10px;
    }

    .slider-div {
        width: 70%;
    }

    .service-card {
        height: auto;
        padding-bottom: 50px;
    }

    .service-card-text br {
        display: none;
    }

    .card-wrapper {
        margin: 0px 110px 0 100px;
    }

    .grid-photo {
        width: 40%;
        margin-top: 30px;
        margin-left: 24%;
    }

    .even-list-lg {
        display: none;
    }

    .large-screen {
        display: none;
    }

    .grid-photo-2 {
        width: 40%;
        margin-top: 6%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.5px) {
   
    .hero {
        padding-bottom: 70px;
    }
    .hero-info {
        padding: 60px 0 0;
    }
    .hero h1 {
        margin-bottom: 60px;
        font-size: 35px;
    }
    .hero h3 {
        font-size: 18px;
        padding: 0 120px 50px 0;
    }
    .hero-btn {
        font-size: 20px;
        margin-left: 150px;
    }

    .slider-div {
        width: 60%;
    }

    .service-card {
        height: 550px;
    }

    .card-wrapper {
        margin: 0px 10px 0 -10px;
    }

    .mascot-img {
        width: 50%;
    }

    .grid-photo {
        width: 70%;
        margin-left: 17%;
        margin-top: 20%;
    }

    .even-list-sm {
        display: none;
    }

    .small-screen {
        display: none;
    }

    .grid-photo-2 {
        width: 70%;
        margin-top: 14%;
    }
}

@media only screen and (min-width: 1200px) {

    .slider-div {
        width: 50%;
    }

    .card-wrapper {
        margin: 0px 10px 0 -10px;
    }

    .mascot-img {
        width: 40%;
    }

    .even-list-sm {
        display: none;
    }

    .small-screen {
        display: none;
    }

    .curve {
        background-image: url(images/curve.png);
        background-size: cover;
        height: 140px;
    }
}